.grey {
	background-color: #434343;
}
.bold {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}
.light {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
}
.gras {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 900;
}
.thin {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 100;
}
.titre {
	background-color: #434343;
	color: #FFF;
	font-size: 17px;
}
.text {
	font-size: 13px;
}
.titre1 {
	font-size: 20;
	color: #1BB5B0;
}
.titre3 {
	font-size: 20;
	font-family: 'Noto Sans', sans-serif;
	color: #FFF;
	background-color: #434343;
}
.titre2 {
	font-size: 20;
	color: #1BB5B0;
	font-family: 'Noto Sans', sans-serif;
	text-align: left;
}
.lien a {
	color: #FFF;
	font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
}
.neg {
	margin-top: -0.25rem;
}
p {
	text-align: left;
	font-family: 'Noto Sans', sans-serif;
}
.mar {
	margin-left: 80px;
	margin-right: 80px;
}
.px-14 {
	padding-left: 14rem;
	padding-right: 14rem;
}
#confirmer {
	background-color: #f4661b;
	color: white;
	padding: 10px 20px;
	font-family: 'Noto Sans', sans-serif;
	border: none;
	border-radius: 18px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
.navbar-nav {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
.navbar-toggler {
	margin-left: auto;
}
.mart {
	margin-top: 310px;
}
.tp {
	top: calc(200px);
}
.bgi {
	background-position: 10px;
}
p {
	font-family: 'Noto Sans', sans-serif;
}
.marl {
	margin-left: 900px;
}
.marr {
	margin-left: 100px;
}
.marm {
	margin-left: 130px;
}
.mars {
	margin-right: 100px;
}
.martb {
	margin-top: 230px;
	margin-left: 200px;
}
.mare {
	margin-left: 200px;
	margin-bottom: 0px;
}
.larr {
	margin-right: 500px;
}
.larl {
	margin-left: 50px;
}
:root {
	--orange: #f4661b;
}
#search svg {
	color: var(--orange)
}
#user svg {
	color: var(--orange)
}
#bouton_orange {
	background-color: #f4661b;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 18px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
.pseudo {
	margin-left: 75px;
	margin-top: 175px;
	padding-left: 20px;
}
@media (max-width: 1100px) {
   .px-14 {
       padding-left: 1rem !important;
       padding-right: 1rem !important;
   }
   .log {
       padding-top: 10px;
       width: 50px;
       height: 50px;
   }
   
}