.header {
    background-color: #434343;
} 
.bold{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; 
}
.light{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300; 
}
.gras{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900; 
}

.thin{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100; 
}