.grey {
    background-color: #434343;
} 
.bold{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; 
}
.light{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300; 
}
.gras{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900; 
}

.thin{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100; 
}
.titre {
    background-color: #434343;
    color: #FFF;
    font-size: 17px;
  }
 .text {
    font-size: 13px;
 }
 .titre1 {
    font-size: 20;
    color: #1BB5B0;
 }
 .titre2 {
    font-size: 20;
    color: #1BB5B0;
    text-align: left;
 }
 .lien  a{
    color: #FFF;
    text-decoration: none;
 }
 .neg {
    margin-top: -0.25rem !important;
  }
p {
    text-align: left;
}
.mar {
    margin-left: 80px;
    margin-right: 80px;
}