.pt-200 {
    padding-top: 200px !important;
}

.pt-230 {
    padding-top: 230px !important;
}

.px-14 {
    padding-left: 14rem !important;
    padding-right: 14rem !important;
}

.bg-gray {
    background-color: #434343;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}