:root {
   --orange: #fff
}

#profile svg {
    color: var(--orange);
    background-color: #f4661B;
    border-radius: 50%;
    padding: 2px 3px 3px 2px;
    margin-top: 17px;
}
.header, .footer{
    background-color: #434343;
    
}
*{
    max-width: 1920px;
    
}

.pb-40 {
    padding-bottom: 40px;
}

a:link{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}
