:root {
    --orange: #F4661B;
    --white: #D9D9D9;
    --grey: #434343;
    --blue: #1BB5B0;
    --font-family: 'Noto Sans', sans-serif;
}
#search svg {
    color: var(--orange);
}
/*h1{
    top: calc(305 px- 50%);
}*/
h1 {
    color: var(--white);
}
h2 {
    color: var(--orange);
}
.categorie {
    margin-top: 310 px;
}