.bg_grey{
    background-color: #434343;;
}

.bg_light{
    background-color: #d9d9d9;;
}
.uppercase{
    text-transform: uppercase;
}

.bold{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; 
}
.light{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300; 
}
.gras{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900; 
}

.thin{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100; 
}

