.header{
    background-color: #434343;
    
}
.bg_grey{
    background-color: #434343;;
}
.uppercase{
    text-transform: uppercase;
}

.bold{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; 
}
.light{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300; 
}
.gras{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900; 
}
.h1{
    font-family: 'noto sans', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #F4661B ;
    
}
.h2{
    font-family: 'noto sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white ;
    background-color: #434343;
}

.text-center{
    margin: 25px;
}